// Blog Preview

/*  ---------------  BLOG PREVIEW  -----  */
section {
    margin-bottom: $thin-pad;
    padding: $pad;
    border: $border $blog-background;
    border-radius: $curve;
    background-clip: padding-box;

    &:last-of-type {
        margin-bottom: 0;
    }

    &.special {
        border: $border $highlight;    
        background-color: $highlight-faded;
    }
}
