/*  ---------------  RESPONSIVE VIDEO  -----  */
.video {
    margin: 17px 0;
    border: $fat-border $action;
    border-radius: $curve;
    background-clip: padding-box;
}
.video-wrapper {
    position: relative;
    /* magic-number: 16:9 aspect ratio */
    height: 0;
    margin-bottom: $thin-pad;
    padding-top: 0;
    padding-bottom: 56.78%;

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin-top: 0;
    }
}
